.chat_input {
  position: sticky;
  bottom: 10px;
  margin-top: 10px;
  display: flex;
  min-height: var(--chat-input-height);
}

.chat_input_con {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.chat_input_con_textarea {
  field-sizing: content;
  min-height: var(--chat-input-height);
  max-height: var(--chat-input-max-height);
  width: 100%;
  resize: none;
  outline: none;
  background-color: var(--chat-bg-theme-color);
  border: 1px solid var(--text-opa-color);
  border-radius: 20px;
  padding: 5px 10px;

  &:focus {
    border-color: var(--chat-bd-color);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.chat_input_btn_con {
  --mar: 4px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.chat_input_btn {
  aspect-ratio: 1;
  height: var(--chat-input-height);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--chat-bg-color);
  border: 1px solid var(--text-opa-color);
}

.chat_down_btn {
  position: absolute;
  bottom: var(--chat-input-height);
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s ease;

  &[hidden] {
    opacity: 0;
    pointer-events: none;
  }
}

.chat_send_btn {
  transition: opacity 0.3s;

  &[hidden] {
    opacity: 0.7;
    pointer-events: none;
  }
}

:root {
  --chat-input-height: 60px;
  --chat-input-max-height: 150px;
}
