.chat_input {
  position: sticky;
  bottom: 10px;
  margin-top: 10px;
  display: flex;
}

.chat_input.dragging .chat_input_con {
  border: 1px solid var(--chat-bd-color);
}

.chat_input_con {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: var(--chat-bg-theme-color);
}

.chat_input_con_file_con,
.chat_input_con_footer {
  width: 100%;
}

.chat_input_con_file_con .file_info_preview {
  border: 1px solid var(--text-opa-color);
  border-radius: 15px;
  flex: 1;
}

.chat_input_con_textarea {
  field-sizing: content;
  min-height: var(--chat-input-height);
  max-height: var(--chat-input-max-height);
  width: 100%;
  resize: none;
  outline: none;
  background-color: var(--chat-bg-theme-color);
  border: 1px solid var(--text-opa-color);
  border-radius: 20px 20px 15px 15px;
  padding: 5px 10px;

  &[files='true'] {
    border-radius: 15px;
  }

  &:focus {
    border-color: var(--chat-bd-color);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.chat_input_btn_con {
  --mar: 4px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.chat_input_btn {
  aspect-ratio: 1;
  height: var(--chat-btn-size);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--chat-bg-color);
  border: 1px solid var(--text-opa-color);
}

.chat_attach_btn {
  border: 0;
  background-color: transparent;

  &:hover {
    background-color: var(--chat-bg-theme-hover-color);
  }

  & input {
    display: none;
  }
}

.chat_file_x_btn {
  --icon-size: 25px;
  border: 0;
  background-color: transparent;

  &:hover {
    background-color: var(--chat-bg-theme-hover-color);
  }
}

.chat_down_btn {
  --chat-btn-size: 30px;
  --icon-size: 15px;
  background-color: var(--chat-bg-theme-color);
  position: absolute;
  top: calc(-1 * var(--chat-btn-size) - 3px);
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s ease;

  &:hover {
    background-color: var(--chat-bg-theme-hover-color);
  }

  &[hidden] {
    opacity: 0;
    pointer-events: none;
  }
}

.chat_send_btn {
  transition: opacity 0.3s;

  &[hidden] {
    opacity: 0.7;
    pointer-events: none;
  }
}

:root {
  --chat-input-height: 60px;
  --chat-input-max-height: 150px;
  --chat-btn-size: 40px;
}
