.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  background-color: var(--bg-color);
}

.container.container_content {
  flex: 1;
  height: max-content;
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 20px;
  }
}
