@import url('../../style/utils/animations.css');

.alert_win,
.alert_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.alert_win {
  z-index: 1;
}

.alert_bg {
  background-color: var(--bg-opa-color);
  backdrop-filter: blur(5px);
}

.alert_con {
  position: relative;
  padding: 5px 10px;
  border-radius: 15px;
  width: min(300px, calc(100% - 10px));
  background-color: var(--alert-bg-color);
  scale: 1.1;
  animation: scaleTo1 0.3s ease forwards;
}

:root {
  --alert-bg-color: light-dark(#dfdfdf, #444444);
}
