@import url('../../style/utils/animations.css');

.join_error_btn {
  display: block;
  width: 200px;
  opacity: 0;
  transform: translateY(100%);
  animation: opaTo1 0.5s 0.5s ease forwards,
    translateYTo0 0.5s 0.5s ease forwards;

  & > button {
    width: 100%;
  }
}
