@import url('./style/Markdown_img.css');
@import url('./style/Markdown_list.css');
@import url('./style/Markdown_code.css');
@import url('./style/Markdown_table.css');
@import url('./style/Markdown_texts.css');
@import url('./style/Markdown_headers.css');

.markdown_parse_con {
  font-family: var(--markdown-all-ff);
  color: var(--markdown-all-text-color);

  * {
    margin: 0;
    line-height: var(--markdown-all-lh);
  }
}

:root {
  --markdown-all-lh: 1.5;
  --markdown-all-text-color: light-dark(#3f3f46, #b7b7cb);
  --markdown-all-ff: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
